{% extends 'base.html.twig' %}

{% block title %}Calendar index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row index">
            <div class="col">
                <div class="title">
                    <img src="{{ asset('build/img/Calendar_Two_Color') }}">
                    <h1>Vos rendez-vous</h1>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Description</th>
                        <th>AllDay</th>
                        <th>BackgroundColor</th>
                        <th>BorderColor</th>
                        <th>TextColor</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for calendar in calendars %}
                        <tr>
                            <td>{{ calendar.id }}</td>
                            <td>{{ calendar.title }}</td>
                            <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ calendar.description }}</td>
                            <td>{{ calendar.allDay ? 'Yes' : 'No' }}</td>
                            <td>{{ calendar.backgroundColor }}</td>
                            <td>{{ calendar.borderColor }}</td>
                            <td>{{ calendar.textColor }}</td>
                            <td>
                                <a href="{{ path('calendar_show', {'id': calendar.id}) }}">show</a>
                                <a href="{{ path('calendar_edit', {'id': calendar.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Vous n'avez pas de rendez-vous</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
