{% extends 'base.html.twig' %}

{% block title %} Tableau de bord {% endblock %}

{% block body %}
<div class="dashboard d-flex">
        {# SideNav #}
        <div class="sideNav">
            <nav>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('calendar_new') }}">Nouveau rendez-vous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact_new') }}">Nouveau contact</a>
                    </li>
                </ul>
            </nav>
        </div>

    {# Dashboard panel #}
    <section class="dashboardPanel container-fluid">
        <div class="row">
            {# Agenda section #}
            <div class="col-12 col-lg-7 mt-3">
                <div class="title">
                    <div class="icon agendaIcon">
                        <img src="{{ asset('build/img/Calendar_Two_Color') }}">
                    </div>
                    <h2>Agenda</h2>
                </div>
                {# Calendar #}
                <div id="calendar-holder" class="card">
                </div>
            </div>
            {# Contact section#}
            <div class="col-12 col-lg-5 mt-3">
                <div class="title">
                    <div class="icon contactIcon">
                        <img src="{{ asset('build/img/User_Profile.png') }}">
                    </div>
                    <h2>Contact</h2>
                </div>
                <div class="card">
                    {# Searchbox Contact #}
                    <div class="searchbox" id="contactSearch">
                        <form action="{{ url('api_get_contact')}}" method="GET" class="d-flex flex-row" id="formSearchContact">
                            <input type="text" name="search" placeholder="Rechercher un contact" class="form-control" id="inputSearch" required>
                            <button type="submit" name="submit" class="btn btn-primary" id="searchButton">Rechercher</button>
                        </form>
                    </div>
                    {# Contact list #}
                    <div class="contactList">
                    {% for contact in contacts %}
                        <div class="contactCard">
                            <h4>{{ contact.firstName}} {{ contact.lastName }}</h4>
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex">
                                        <i class="far fa-building"></i>
                                        <p>{{ contact.company }}</p>
                                    </div>
                                    <div class="d-flex">
                                        <i class="fas fa-mobile-alt"></i>
                                        <p>{{ contact.phone }}</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex">
                                        <i class="far fa-envelope"></i>
                                        <p>{{ contact.email }}</p>
                                    </div>
                                    <div class="d-flex">
                                        <i class="fas fa-briefcase"></i>
                                        <p>{{ contact.categoryContact }}</p>
                                    </div>
                                    <div class="mt-3">
                                        <a href="{{ path('contact_show', {'id': contact.id}) }}" class="btn btn-info">Voir</a>
                                        <a href="{{ path('contact_edit', {'id': contact.id}) }}" class="btn btn-outline-success">Modifier</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <tr>
                            <td colspan="8">Ooops, votre recherche n'a pas donné de résultat</td>
                        </tr>
                    {% endfor %}
                    </div>
                </div>
                {# Register user for Admin #}
                {% if is_granted('ROLE_ADMIN') %}
                <div class="card mt-4 mb-5 register-user">
                    <a href="{{ path('app_register') }}" class="btn btn-success">Inscrire un utilisateur</a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}

{# No footer #}
{% block footer %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/locales-all.min.js"></script>


    <script type="text/javascript">

        // FULL CALENDAR
        window.onload = () => {
            let calendarElt = document.querySelector("#calendar-holder")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{ data|raw }},
                eventClick: function (info) {
                    window.location.href="/calendar/" + info.event.id
                },
                editable: true,
                eventResizableFromStart: true,
                allDaySlot: false
            })

            // AJAX request on drag a drop calendar change
            calendar.on('eventChange', (e) => {
                let url = `/api/${e.event.id}/edit`
                let data = {
                    "title": e.event.title,
                    "description": e.event.extendedProps.description,
                    "start": e.event.start,
                    "end": e.event.end,
                    "backgroundColor": e.event.backgroundColor,
                }

                let xhr = new XMLHttpRequest
                xhr.open("POST", url)
                xhr.send(JSON.stringify(data))
            })
            calendar.render()
        }
    </script>

    <script type="text/javascript">

        /* SEARCH CONTACT*/
        $(document).ready(function () {
            $("#formSearchContact").submit(function(e){

                e.preventDefault();

                var form = $(this);
                var data = {request : $("#inputSearch").val()};

                // AJAX REQUEST
                $.ajax({
                    type : form.attr('method'),
                    url : form.attr('action'),
                    data : data,
                    success: function (contacts) {
                        // Get the data
                        var contacts =  JSON.parse(contacts);
                        var html = "";
                        for (var idx in contacts) {
                            var contact = contacts[idx];
                            //Prepare the displayed html
                            html += `
                            <div class="contactCard">
                               <h4> ${contact.firstName} ${contact.lastName} </h4>
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex">
                                            <i class="far fa-building"></i>
                                            <p>${contact.company}</p>
                                        </div>
                                        <div class="d-flex">
                                            <i class="fas fa-mobile-alt"></i>
                                            <p>${ contact.phone }</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex">
                                            <i class="far fa-envelope"></i>
                                            <p>${ contact.email }</p>
                                        </div>
                                        <div class="d-flex">
                                            <i class="fas fa-briefcase"></i>
                                            <p>${ contact.categoryContact }</p>
                                        </div>
                                        <div class="mt-3">
                                            <a href="${contact.showPath}" class="btn btn-info">Voir</a>
                                            <a href="${contact.editPath}" class="btn btn-outline-success">Modifier</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            `;
                        }

                        // If no result
                        if (html == '') {
                            html = `
                                <tr>
                                    <td colspan="8">Ooops, votre recherche n'a pas donné de résultat</td>
                                </tr>`;
                        }
                        // Add the result to the HTML
                        $('.contactList').html(html);
                    },
                    error: function (data) {
                        console.error(data);
                    }
                });
            });
        });
    </script>
{% endblock %}