{% extends 'base.html.twig' %}

{% block title %} Tableau de bord {% endblock %}

{% block body %}
<div class="dashboard d-flex">
        {# SideNav #}
        <div class="sideNav">
            <nav>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('calendar_new') }}">Nouveau rendez-vous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact_new') }}">Nouveau contact</a>
                    </li>
                </ul>
            </nav>
        </div>

    {# Dashboard panel #}
    <section class="dashboardPanel container-fluid">
        <div class="row mt-3">
            {# Agenda section #}
            <div class="col-sm-7 ">
                <div class="title">
                    <div class="icon agendaIcon">
                        <img src="{{ asset('build/img/Calendar_Two_Color') }}">
                    </div>
                    <h2>Agenda</h2>
                </div>
                {# Calendar #}
                <div id="calendar-holder" class="card">
                </div>
            </div>
            {# Contact section#}
            <div class="col-sm-5 ">
                <div class="title">
                    <div class="icon contactIcon">
                        <img src="{{ asset('build/img/User_Profile.png') }}">
                    </div>
                    <h2>Contact</h2>
                </div>
                <div class="card">
                    {# Searchbox Contact #}
                    <div class="searchbox" id="contactSearch">
                        <form action="{{ url('api_get_contact')}}" method="GET" class="d-flex flex-row" id="formSearchContact">
                            <input type="text" name="search" placeholder="Rechercher un contact" class="form-control" id="inputSearch" required>
                            <button type="submit" name="submit" class="btn btn-primary" id="searchButton">Rechercher</button>
                        </form>
                    </div>
                    {# Contact list #}
                    <div class="contactList ">
                        <table class="table">

                            <tbody>
                            {% for contact in contacts %}
                                <tr>
                                    <td>{{ contact.firstName}} {{ contact.lastName }}</td>
                                    <td>{{ contact.phone }}</td>
                                    <td>{{ contact.email }}</td>
                                </tr>
                                <tr>
                                    <td>{{ contact.address }}</td>
                                    <td>{{ contact.description }}</td>
                                    <td>
                                        <a href="{{ path('contact_show', {'id': contact.id}) }}" class="btn btn-info">Voir</a>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('contact_edit', {'id': contact.id}) }}" class="btn btn-outline-success">Modifier</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">Ooops, votre recherche n'a pas donné de résultat</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css">
{% endblock %}

{% block javascripts %}

    /* FULLCALENDAR */
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/locales-all.min.js"></script>


    <script type="text/javascript">

        /* FULL CALENDAR */
        window.onload = () => {
            let calendarElt = document.querySelector("#calendar-holder")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{ data|raw }},
                eventClick: function (info) {
                    window.open('/calendar/' + info.event.id)
                },
                editable: true,
                eventResizableFromStart: true,
                allDaySlot: false

            })

            calendar.on('eventChange', (e) => {
                let url = `/api/${e.event.id}/edit`
                let data = {
                    "title": e.event.title,
                    "description": e.event.extendedProps.description,
                    "start": e.event.start,
                    "end": e.event.end,
                    "backgroundColor": e.event.backgroundColor,
                }

                let xhr = new XMLHttpRequest
                xhr.open("PUT", url)
                xhr.send(JSON.stringify(data))
            })
            calendar.render()
        }

    </script>

    <script type="text/javascript">
        /* SEARCH CONTACT*/
        $(document).ready(function () {
            $("#formSearchContact").submit(function(e){

                e.preventDefault();

                var form = $(this);
                var data = {request : $("#inputSearch").val()};

                $.ajax({
                    type : form.attr('method'),
                    url : form.attr('action'),
                    data : data,
                    success: function (contacts) {
                        var contacts =  JSON.stringify(contacts)
                    },
                    error: function (data) {
                        console.error(data);
                    }
                });
            });
        });
    </script>
{% endblock %}