{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="forms">
    <div class="formContainer">
        <h1>Editer votre profil</h1>
            <div class="formContainerFields">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        <div class="d-flex justify-content-center">
                <a class="reset-password" href="{{ path('app_forgot_password_request') }}"> Réinitialiser le mot de passe</a>
            </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#profile_user_imageFile').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}