{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}

    <div class="container">
        <div class="row index">
            <div class="col">
                <div class="title">
                    <img src="{{ asset('build/img/User_Profile.png') }}">
                    <h1>Vos contacts</h1>
                </div>

                {# Searchbox / New contact#}
                <div class="tableContent">

                    <div class="searchbox d-flex justify-content-between mb-3" id="contactSearch">
                        <form action="{{ url('contact_index')}}" method="GET" class="d-flex flex-row" id="formSearchContact">
                            <input type="text" name="search" placeholder="Rechercher un contact" class="form-control" id="inputSearch" required>
                            <button type="submit" name="submit" class="btn btn-primary" id="searchButton">Rechercher</button>
                        </form>
                        <div>
                            <a class="btn btn-success" href="{{ path('contact_new') }}">Créer un contact</a>

                        </div>
                    </div>

                    {# List of contact #}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Téléphone</th>
                                <th>Email</th>
                                <th>Entreprise</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for contact in contacts %}
                            <tr>
                                <td>{{ contact.firstName }}</td>
                                <td>{{ contact.lastName }}</td>
                                <td>{{ contact.phone }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.company }}</td>
                                <td>{{ contact.categoryContact }}</td>
                                <td>
                                    <a href="{{ path('contact_show', {'id': contact.id}) }}" class="btn btn-info">Voir</a>
                                    <a href="{{ path('contact_edit', {'id': contact.id}) }}" class="btn btn-outline-success">Editer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">Aucun résultat</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {# Pagination #}
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(contacts) }}
    </div>
{% endblock %}
